$color-primary: #b71c1c;
$color-primary-light: #f05545;
$color-primary-dark: #7f0000;

$color-secondary: #37474f;
$color-secondary-light: #62727b;
$color-secondary-dark: #102027;

$color-background: #f5f5f6;
$color-background-dark: #e1e2e1;
