.result_grid {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;

  .check_node {
    justify-self: center;
    padding: 10%;
  }
}
