
$black: #000000;
$border-black: #000000;
$grey: #CECECE;
$white: #FFFFFF;

$alternative-checked: #005960;
$blueish-button: #28818C;
$blueish-grey: #304A4C;
$dark-green: #4F841C;
$dark-grey: #A0A0A0;
$dark-sky-blue: #2B98F0;
$darker-sky-blue: #1F6DAC;
$deep-teal: #005960;
$grass: #69AE28;
$grey-blue: #698190;
$light-gray: #BFBFBF;
$light-green: #5E9E21;
$mango: #FBB829;
$next-task: #2B98F0;
$pale-grey: #EBf0F3;
$purply: #9B2FAE;
$task-background: #EBF0F3;
