
$header-size: 55px;
$smaller-header-size: 40px;
$button-fontsize: 18px;
$topic-fontsize: 20px;
$text-fontsize: 18px;
$task-text-fontsize: 20px;
$result-display-fontsize: 36px;
$result-text-fontsize: 20px;
