@import "colors";
.main-text
{
  position: absolute;
  top: 200px;
  width: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
}

.carousel {
  width: 100%;
  margin-bottom: 1rem;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  height: auto;
  line-height: 1;
  margin: 0 auto;
  max-width: 100%;
}

a.home-card {
  color: black;
  background-color: $color-background;
  margin: 10px;
  border: 0px;
}

a.home-card:hover {
  background-color: transparentize(white,0.2);
}
