@import "~bootstrap/scss/bootstrap.scss";
@import "home";
@import "board";
@import "colors";
@import "events";

.main-container {
  min-height: 100vh;
  align-content: center;
  background: linear-gradient(178deg, #7f0000, #f05545);
  background-size: 200% 200%;

  animation: AnimationName 32s ease infinite;

  @keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
  }
}

.container-fluid {
  max-width: 1000px; /* This is due to the image size */
}

@include media-breakpoint-up(sm) {
  .home-text-area {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;

  }
}

@include media-breakpoint-down(sm) {
  .home-text-area {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
  }
}

@include media-breakpoint-down(xs) {
  .home-text-area {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    justify-content: space-evenly;
  }
}

.header-bar {
  background-color: $color-primary-dark;
  min-height: 3.5rem;
}

.bg-faded {
  background-color: transparent;
}

.container-fluid {
  padding: 0px;
}

h1 {
  color: white;
  margin: 0px;
  padding: 1rem;
}

h3 {
  color: white;
  margin: 0px;
  padding: 1rem;
  padding-left: 0;
}

.active {
  background-color: $color-primary;
}

.title {
  width: auto;  /* Or whatever */
  height: 100%; /* Or whatever */
  margin: auto;  /* Magic! */
}

a {
  color: $color-blue;
  margin: 0px;
}

.link-area {
  padding: 1rem;
  margin: 0px;
}

p {
  color: white;
}

.link-card {
  color: white;
  background-color: transparentize($color-secondary-dark, 0.8);
  margin: 10px;
  padding: 10px;
}
